.order {
  display: block;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  width: 90px;

  &__amount {
    display: inline-block;
    margin-right: 20px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid lightgray;
    font-size: 10px;
    text-align: center;
  }

  &__text {
    font-size: 10px;
  }
}
