<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document

  - var bodyClass
  block variables

  body(class= bodyClass)
    header.header
      include ./../images/logo.svg
      block header

    main.main
      .card
        .symbols
          .symbols-wrapper
            if bodyClass == "base"
              span.symbol.base-symbol-1
                include ./../images/base-symbol-1.svg
              span.symbol.base-symbol-2
                include ./../images/base-symbol-2.svg
            else if bodyClass == "booking-details"
              span.symbol.booking-details-symbol-1
                include ./../images/booking-details-symbol-1.svg
              span.symbol.booking-details-symbol-2
                include ./../images/booking-details-symbol-2.svg
              span.symbol.booking-details-symbol-3
                include ./../images/booking-details-symbol-3.svg
              span.symbol.booking-details-symbol-4
                include ./../images/booking-details-symbol-4.svg
              span.symbol.booking-details-symbol-5
                include ./../images/booking-details-symbol-5.svg
              span.symbol.booking-details-symbol-6
                include ./../images/booking-details-symbol-6.svg

        block content
