.user {
  display: block;
  margin-bottom: 25px;

  &__avatar {
    margin-right: 30px;
    width: 40px;
    height: 40px;
  }

  &__name {
    position: relative;
    top: -15px;
    font-size: 14px;
  }
}

@media (max-width: $mobileL) {
  .user {
    flex-direction: column;

    &__avatar {
      margin-right: 0;
      margin-bottom: 15px;
      width: 65px;
      height: 65px;
    }
  }
}
