extends ../layouts/base

block variables
  - bodyClass = "booking-details"

block header
  h3.sub-title You have a new reservation!
  p.text Here are the booking details:

block content
  include ./../modules/user/module
  -
    var userData = {
      avatar: "./../assets/images/user-avatar.png",
      name: "Elisa Koraterina"
    };
  +user(userData)

  include ./../modules/order/module
  -
    var orderData = {
      amount: 1,
      text: "Pedicure"
    };
  +order(orderData)
  -
    var orderData = {
      amount: 1,
      text: "Monicure"
    };
  +order(orderData)

  hr.line.line--booking-details

  include ./../modules/info/module

  -
    var infoData = {
      icon: "house",
      text: "La Perla d'Oro"
    };
  +info(infoData)

  -
    var infoData = {
      icon: "time",
      text: "11:00 am - 11:30 am"
    };
  +info(infoData)
