extends ../layouts/base

block variables
  - bodyClass = "base"

block content
  h3.card-title
    | Hey Alina,
    br
    | thanks for applying!
  p.card-text
    | To finish setting up your account,
    wbr
    |  please confirm your email address.
  button.button.button--offset Verify my email
  br
  hr.line
  p.add-info
    | If you received this email by mistake, simply delete it.
    br
    | You won't be subscribed if you don't click the confirmation link above
