extends ../layouts/base

block variables
  - bodyClass = "base"

block content
  h3.card-title
    | Hey Alina,
    br
    | Thanks for your interest in joining our community!
  p.card-text
    | Your application has been received and it’s under review at the moment.
    | We will notify you as soon we can.
  p.card-text In the meanwhile, you can follow us on:

  .social-links
    include ./../modules/social-link/module

    - var instaInfo = { link: "#", icon: "instagram" }
    +socialLink(instaInfo)

    - var facebookInfo = { link: "#", icon: "facebook" }
    +socialLink(facebookInfo)

    - var qInfo = { link: "#", icon: "q" }
    +socialLink(qInfo)

  hr.line

  p.add-info
    | Watch
    a.add-link(href="#") our videos
    | to find out how SQUARE works
