extends ../layouts/base

block variables
  - bodyClass = "base"

block content
  h3.card-title
    | Hey Alina,
    br
    | Welcome to SQUARE!
  p.card-text We're excited to have you on board!
  span.thanks-text Thank you.
