.header {
  text-align: center;

  > svg {
    margin-top: 35px;
    margin-bottom: 20px;
  }
}

.sub-title {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 18px;
}

.social-links {
  margin-bottom: 20px;
  padding-top: 10px;
}

.symbols {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateX(0) translateY(0);
}

.symbols-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.symbol {
  position: absolute;
}

.base-symbol-1 {
  top: -20px;
  left: -20px;
}

.base-symbol-2 {
  right: -30px;
  bottom: -45px;
}

.booking-details-symbol-1 {
  top: -50%;
  left: 12%;
}

.booking-details-symbol-2 {
  top: -50%;
  right: 10%;
}

.booking-details-symbol-3 {
  top: calc(-50% + 50px);
  right: 5px;
}

.booking-details-symbol-4 {
  top: calc(-50% + 50px);
  left: 5px;
}

.booking-details-symbol-5 {
  right: -20px;
  bottom: -45px;
}

.booking-details-symbol-6 {
  bottom: -22px;
  left: 10%;
}

@media (max-width: $mobileL) {
  .header {
    > svg {
      margin-bottom: 30px;
      height: 20px;
    }
  }

  .symbol {
    transform: scale(0.8);
  }

  .sub-title {
    margin-top: 20px;
    font-size: 16px;
  }
}
