.card {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 20px 40px 0 rgba(93,93,93, .08);
  text-align: center;
  box-sizing: border-box;
  background-color: white;
}

.button {
  padding: 10px 20px;
  width: 100%;
  max-width: 172px;
  border-radius: 4px;
  font-size: 12px;
  background: linear-gradient(45deg, $purpleLight, $purple);
  color: white;

  &--offset {
    margin-bottom: 16px;
  }
}

.text {
  font-family: Poppins, "sans-serif";
  font-size: 12px;
  margin-bottom: 25px;
}

.line {
  margin-bottom: 25px;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: rgba(0,0,0, .08);

  &--booking-details {
    margin-top: 21px;
  }
}

.card-title {
  margin-bottom: 12px;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
}

.card-text {
  margin-right: auto;
  margin-bottom: 22px;
  margin-left: auto;
  width: 100%;
  max-width: $mobileXs;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
}

.add-info {
  @extend .card-text;
  line-height: 22px;
  color: $gray;
}

.add-link {
  margin-right: 4px;
  margin-left: 4px;
  text-decoration: underline;
  font-size: 12px;
  color: $gray;
}

.thanks-text {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  color: $pink;
}

@media (max-width: $mobileL) {
  .card-title {
    font-size: 14px;
  }
}
