html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
input[type="checkbox"], input[type="radio"] {
	cursor: pointer;
}
a {
	text-decoration: none;
	cursor: pointer;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	border: none;
    background-color: transparent;
	padding: 0;
	cursor: pointer;
}
button:focus {
	outline: 0;
}

.tns-outer {
	.tns-nav,
	button[data-action="stop"],
	button[data-action="start"] {
		display: none;
	}
}

// For Lazzy Load
img {
opacity: 1;
transition: opacity 0.3s;
}

// img[data-src] {
// 	opacity: 0;
// }

// img[data-slide-src] {
// 	opacity: 1;
// }