// Colors
$lightPink: #fff9fc;
$pink: #f8c0de;
$text: #333;
$gray: #808080;
$purpleLight: #f7415d;
$purple: #e92f8f;

// Sizes
$wrap: 1360px;
$desktop: 1200px;
$laptopLg: 1100px;
$hdr: 1030px;
$laptop: 985px;
$laptopXs: 860px;
$tablet: 768px;
$mobileLg: 600px;
$mobileL: 560px;
$mobile: 480px;
$mobileXs: 400px;
