mixin socialLink(info)
  a.social-link(href= info.link, target="_baner")
    if info.icon == "instagram"
      include ./../../images/instagram.svg
    else if info.icon == "facebook"
      include ./../../images/facebook.svg
    else if info.icon == "q"
      include ./../../images/q.svg