.social-link {
  margin-right: 16px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  svg {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: $mobileL) {
  .social-link {
    margin-right: 14px;
    margin-bottom: 14px;

    svg {
      width: 28px;
      height: 28px;
    }
  }
}
