mixin info(infoData)
  p.info
    if infoData.icon == "date"
      include ./../../images/date.svg
    else if infoData.icon == "house"
      include ./../../images/house.svg
    else if infoData.icon == "location"
      include ./../../images/location.svg
    else if infoData.icon == "time"
      include ./../../images/time.svg
    
    info.info__text= infoData.text