.info {
  display: block;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;
  width: 160px;
  white-space: nowrap;
  text-align: left;

  &__text {
    position: relative;
    top: -6px;
    font-size: 12px;
    white-space: nowrap;
  }

  svg {
    margin-right: 30px;
    width: 24px;
  }
}